* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

nav {
    background-color: #c4bdbc;
    display: flex;
    font-weight: bold;
    margin-top: -8px;
    position: fixed;
    margin-right: -px;
    width: 100%;
}

.nav-item {
    position: relative;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
}

.logo {
    width: 80px;
    margin: 5px;
    margin-right: 50px;
    margin-left: 20px;
}

.nav-link:after {
    content: "";
    display: none;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #aca8a8;
}

.nav-link.active,
.nav-link:hover {
    color: #aca8a8;
}

.nav-link.active:after,
.nav-link:hover:after {
    display: block;
}

.nav-item:hover .nav-dropdown {
    display: block;
}

.gambar {
    margin-top: 8px;
    width: 100%;
    height: 600px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.card-container {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
}

.card-container-pt3 {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.harga {
    color: #f8f8f8;
}

/* .bag1{
    display: flex;
    overflow-x: scroll;
    padding-left: 20px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    gap: 12px;
    box-sizing: border-box;
}
.bag1 .card{
    flex: 0 0 100%;
    padding: 20px;
    scroll-snap-align: start;
} */

.lm {
    text-decoration: none;
    color: black;
}

.button_black {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

.btn-2 {
    background-color: black;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.img_sp {
    height: 600px;
    width: 100%;
}

.text-sp1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px;
}

.search {
    position: relative;
}

/* .search input{
    border: none;
    background-color: transparent;
    border-bottom:2px solid #000000;
    transition: width 0.3s ease;
    width: 50px;
    border: 0;
    height: 50px;
    transition: width 0.3s ease;
} */
bod {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    border: none;
    background-color: transparent;
    border-bottom:10px solid #000000;
    border: 0;
    top: 10px;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    transition: width 0.3s ease;
}

.btns {

    background-color: black;
    border: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    top: 5px;
    left: 0;
    height: 40px;
    width: 40px;
    color: white;
    transition: transform 0.3s ease;
}

.btns:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btns {
    transform: translateX(170px);
}

.modal-body input{
    border: none;
    background-color:#d1d1d1d7 ;
    border-bottom:10px solid #000000;
    border: 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(148, 145, 145);
    outline: none;
    margin: 5px;

}
.modal-content .header  {
    margin-left: 30px;
    margin-top: 40px;
}
.modal-content .modal-body{
    margin-left: 8px;
    margin-right: 15px;
    margin-top: 0px;
}
.modal-content .modal-body label{
    margin-left: 5px;
    font-weight: bold;
}
.modal-content .modal-body button{
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.modal-content .modal-body a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.modal-content .modal-body {
    margin-bottom: 40px;
}

.more{
    border-radius: 5px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product{
    margin-top: 100px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

.terjual{
    font-size: 15px;

}
.stok{
    font-size: 15px;
    margin-top:-38px;
    margin-left: 160px;
}
.harga{
    font-weight: 900;
    color: black;
}
.form form .mb-3{
    padding-left: 15px;
    padding-right: 15px;
}

